<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InvoiceImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InvoiceImport.Properties.Settings.POLSQL" connectionString="Data Source=POLSQL;Initial Catalog=MLG;User ID=polsqluser;Password=Pol113388"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Z:\AIMM Automation\Vendor Invoice Import\Logs\InvoiceImport.log"/>
      <RollingStyle value="size"/>
      <appendToFile value="true"/>
      <maximumFileSize value="20MB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff} %level: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <InvoiceImport.Properties.Settings>
      <setting name="SourceFolder" serializeAs="String">
        <value>Z:\AIMM Automation\Vendor Invoice Import</value>
      </setting>
      <setting name="ShowExcel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>Z:\AIMM Automation\Vendor Invoice Import\Logs</value>
      </setting>
      <setting name="ArchiveFolder" serializeAs="String">
        <value>Z:\AIMM Automation\Vendor Invoice Import\Archive</value>
      </setting>
      <setting name="PdfFolder" serializeAs="String">
        <value>Z:\AIMM Automation\Vendor Invoice Import\PDFs</value>
      </setting>
      <setting name="ErrorFolder" serializeAs="String">
        <value>Z:\AIMM Automation\Vendor Invoice Import\Errors</value>
      </setting>
      <setting name="APAcct" serializeAs="String">
        <value>Accounts Payable</value>
      </setting>
      <setting name="BillClass" serializeAs="String">
        <value>PPI</value>
      </setting>
    </InvoiceImport.Properties.Settings>
  </applicationSettings>
</configuration>
